{% extends 'users/base.html' %}
{% load widget_tweaks %}
{% block content %}
<form class="p-4 p-md-5 border rounded-3" method="post">
    {% csrf_token %}
    
    <div class="form-floating mb-3">
        {% render_field form.enrollment_no class="form-control" placeholder="Enter your enrollment number" %}
        <label for="floatingInput">Enrollment Number</label>
    </div>
    
    <div class="form-floating mb-3">
        {% render_field form.first_name class="form-control" placeholder="Enter first name" %}
        <label for="floatingEnrollmentNumber">First Name</label>
    </div>

    <div class="form-floating mb-3">
        {% render_field form.last_name class="form-control" placeholder="Enter last name" %}
        <label for="floatingEnrollmentNumber">Last Name</label>
    </div>
   
    <div class="form-floating mb-3">
        {% render_field form.contact_number class="form-control" placeholder="Enter contact number" %}
        <label for="floatingEnrollmentNumber">Contact Number</label>
    </div>
    
    <div class="form-floating mb-3">
        {% render_field form.branch class="form-control" placeholder="Enter branch" %}
        <label for="floatingEnrollmentNumber">Branch</label>
    </div>

    <div class="form-floating mb-3">
        {% render_field form.email class="form-control" placeholder="Enter your email address" %}
        <label for="floatingEmail">Email Address</label>
    </div>
    
    <div class="form-floating mb-3">
        {% render_field form.password1 class="form-control" placeholder="Enter Password" %}
        <label for="floatingPassword">Enter Password</label>
    </div>
    
    <div class="form-floating mb-3">
        {% render_field form.password2 class="form-control" placeholder="Confirm Password" %}
        <label for="floatingConfirmPassword">Confirm Password</label>
    </div>
    
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
    <hr class="my-4">
    <small class="text-muted">Already have an account? <a href="{% url 'login' %}">Sign In</a></small>
</form>
{% endblock content %}
